---
// filepath: c:\Users\angel\Desktop\TFG-2DAM\FlowStats\src\components\ComponentesPerfilUsu\InformacionUsuarios.astro
import ImgUsu from "./ImagenesPerfil/ImgUsu.jsx";
import DatosCanciones from "./InfoDatos/Cancion/DatosCanciones.jsx";
import { Compone } from "astro:db";
import { db, Escucha, Cancion, Artista, Gusta, Album, Ve } from "astro:db";
import { eq } from "astro:db";
import { parse } from "cookie";

const cookie_acceso = parse(Astro.request.headers.get("cookie") || "");
const cod_usu = parseInt(cookie_acceso.codigo_usu);

const canciones_gustadas = await db
    .select({
        id_cancion: Cancion.cod_cancion,
        titulo_cancion: Cancion.titulo,
        imagen_cancion: Album.img_album,
        nombre_album: Album.nom_album,
        nombre_artista: Artista.nom_art,
        genero_cancion: Cancion.genero_cancion,
        fecha_lanzamiento: Cancion.fecha_lanzamiento,
    })
    .from(Cancion)
    .innerJoin(Escucha, eq(Cancion.cod_cancion, Escucha.cod_cancion))
    .innerJoin(Album, eq(Cancion.cod_album, Album.cod_album))
    .innerJoin(Compone, eq(Cancion.cod_cancion, Compone.cod_cancion))
    .innerJoin(Artista, eq(Compone.cod_art, Artista.cod_art))
    .where(eq(Escucha.cod_usuario, cod_usu))
    .groupBy(Cancion.cod_cancion);

const artistas_gustados = await db
    .select({
        id_artista: Artista.cod_art,
        nombre_artista: Artista.nom_art,
        imagen_artista: Artista.img_art,
    })
    .from(Artista)
    .innerJoin(Gusta, eq(Artista.cod_art, Gusta.cod_art))
    .where(eq(Gusta.cod_usuario, cod_usu));

const albumes_gustados = await db
    .select({
        id_album: Album.cod_album,
        nombre_album: Album.nom_album,
        imagen_album: Album.img_album,
    })
    .from(Album)
    .innerJoin(Ve, eq(Album.cod_album, Ve.cod_album))
    .where(eq(Ve.cod_usuario, cod_usu));

const { usuario_accedido_info } = Astro.props;
---

<div class="flex flex-col items-start mb-6">
    <div class="flex items-center space-x-4 mb-6">
        <ImgUsu
            client:load
            ruta={usuario_accedido_info.img_usu}
            alt="Imagen de perfil"
        />
        <div>
            <h1 class="text-2xl font-bold">
                {usuario_accedido_info.nombre_usuario}
            </h1>
            <p class="text-lg">
                {usuario_accedido_info.nombre}
                {usuario_accedido_info.apellidos}
            </p>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-6 w-full">
        <div>
            <p class="font-semibold">Correo electrónico:</p>
            <p>{usuario_accedido_info.correo_electronico}</p>
        </div>
        <div>
            <p class="font-semibold">Fecha de nacimiento:</p>
            <p>
                {
                    new Date(
                        usuario_accedido_info.fecha_nacimiento,
                    ).toLocaleDateString("es-ES")
                }
            </p>
        </div>
        <div>
            <p class="font-semibold">Dirección:</p>
            <p>{usuario_accedido_info.direccion_usu}</p>
        </div>
        <div>
            <p class="font-semibold">Teléfono:</p>
            <p>{usuario_accedido_info.telefono_usu}</p>
        </div>
    </div>
</div>

<div class="flex flex-row items-start mb-6 space-x-6">
    <div>
        <h2 class="text-xl font-bold mb-2 text-center">Canciones favoritas</h2>
        <DatosCanciones canciones_gustadas={canciones_gustadas} client:load />
    </div>
    <div>
        <h2 class="text-xl font-bold mb-2 text-center">Artistas favoritos</h2>
        <div class="flex justify-center">
            <ul class="flex flex-col items-center">
                {
                    artistas_gustados.map((artista) => (
                        <li class="mb-1 flex items-center space-x-2 group">
                            <div class="relative flex-shrink-0">
                                <img
                                    src={artista.imagen_artista}
                                    alt={artista.nombre_artista}
                                    class="h-25 w-25 object-cover rounded-full"
                                />
                                <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-50 rounded-full" />
                                <span class="absolute inset-0 flex items-center justify-center text-white font-bold opacity-0 group-hover:opacity-100">
                                    {artista.nombre_artista}
                                </span>
                            </div>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
    <div>
        <h2 class="text-xl font-bold mb-2 text-center">Álbumes favoritos</h2>
        <ul class="flex flex-col items-center">
            {
                albumes_gustados.map((album) => (
                    <li class="mb-1 flex items-center space-x-2 group">
                        <div class="relative flex-shrink-0">
                            <img
                                src={album.imagen_album}
                                alt={album.nombre_album}
                                class="h-25 w-25 object-cover rounded-lg"
                            />
                            <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-50 rounded-lg" />
                            <span class="absolute inset-0 flex items-center justify-center text-white font-bold opacity-0 group-hover:opacity-100">
                                {album.nombre_album}
                            </span>
                        </div>
                    </li>
                ))
            }
        </ul>
    </div>
</div>
