---
import Layout2 from "../layouts/Layout2.astro";
import { Noticia1, Noticia2, Noticia3 } from "../api/ExtraerDatosBillboard.js";
import { db, Artista, Album, Cancion, Compone } from "astro:db";
import { desc, eq } from "astro:db";
import EstadisticasMusica from "../components/Estadisticasmusica";
import type { loadRenderers } from "astro:container";

const artistas_registrados = await db
    .select()
    .from(Artista)
    .orderBy(desc(Artista.oyentes_art))
    .limit(5);

const albumes = await db
    .select({
        id: Album.cod_album,
        nom_album: Album.nom_album,
        fecha_publicacion: Album.fecha_lanzamiento_album,
        imagen: Album.img_album,
        nom_art: Artista.nom_art,
    })
    .from(Album)
    .innerJoin(Artista, eq(Album.cod_art, Artista.cod_art))
    .orderBy(desc(Album.num_canciones))
    .limit(5);

const canciones = await db
    .select({
        id: Cancion.cod_cancion,
        nom_cancion: Cancion.titulo,
        reproducciones: Cancion.num_reproducciones,
    })
    .from(Cancion)
    .innerJoin(Album, eq(Cancion.cod_album, Album.cod_album))
    .innerJoin(Compone, eq(Cancion.cod_cancion, Compone.cod_cancion))
    .innerJoin(Artista, eq(Compone.cod_art, Artista.cod_art))
    .orderBy(desc(Cancion.num_reproducciones))
    .limit(5);

const noticias1 = await Noticia1();
const noticias2 = await Noticia2();
const noticias3 = await Noticia3();
---

<Layout2 title="FlowStats">
    <div class="text-center mt-4 mb-4">
        <h1 class="text-4xl font-bold text-gray-800 underline">
            Noticias Principales
        </h1>
    </div>
    <div class="flex justify-center space-x-4">
        {
            noticias1 && (
                <div class="flex max-w-2xl bg-black shadow-lg rounded-lg overflow-hidden mt-4 mb-4 h-40 w-1/2">
                    <img
                        class="w-1/3 h-full object-cover"
                        src={noticias1.url_imagen}
                        alt={noticias1.titulo_noticia}
                    />
                    <div class="w-2/3 p-4 text-white">
                        <a
                            href={noticias1.link}
                            class="text-lg font-bold mb-1 text-white hover:underline block"
                        >
                            {noticias1.titulo_noticia}
                        </a>
                        <p class="text-sm text-gray-300 mb-1">
                            <span class="font-semibold text-white">
                                Escrito por:
                            </span>{" "}
                            {noticias1.autor}
                        </p>
                        <p class="text-sm text-gray-300 mb-1">
                            <span class="font-semibold text-white">
                                Publicado:
                            </span>{" "}
                            {noticias1.fecha_puli}
                        </p>
                    </div>
                </div>
            )
        }
        {
            noticias2 && (
                <div class="flex max-w-2xl bg-black shadow-lg rounded-lg overflow-hidden mt-4 mb-4 h-40 w-1/2">
                    <img
                        class="w-1/3 h-full object-cover"
                        src={noticias2.url_imagen}
                        alt={noticias2.titulo_noticia}
                    />
                    <div class="w-2/3 p-4 text-white">
                        <a
                            href={noticias2.link}
                            class="text-lg font-bold mb-1 text-white hover:underline block"
                        >
                            {noticias2.titulo_noticia}
                        </a>
                        <p class="text-sm text-gray-300 mb-1">
                            <span class="font-semibold text-white">
                                Escrito por:
                            </span>{" "}
                            {noticias2.autor}
                        </p>
                        <p class="text-sm text-gray-300 mb-1">
                            <span class="font-semibold text-white">
                                Publicado:
                            </span>{" "}
                            {noticias2.fecha_puli}
                        </p>
                    </div>
                </div>
            )
        }
    </div>
    <div class="flex justify-center space-x-4">
        {
            noticias3 && (
                <div class="flex max-w-2xl bg-black shadow-lg rounded-lg overflow-hidden mt-4 mb-4 h-40 w-1/2">
                    <img
                        class="w-1/3 h-full object-cover"
                        src={noticias3.url_imagen}
                        alt={noticias3.titulo_noticia}
                    />
                    <div class="w-2/3 p-4 text-white">
                        <a
                            href={noticias3.link}
                            class="text-lg font-bold mb-1 text-white hover:underline block"
                        >
                            {noticias3.titulo_noticia}
                        </a>
                        <p class="text-sm text-gray-300 mb-1">
                            <span class="font-semibold text-white">
                                Escrito por:
                            </span>{" "}
                            {noticias3.autor}
                        </p>
                        <p class="text-sm text-gray-300 mb-1">
                            <span class="font-semibold text-white">
                                Publicado:
                            </span>{" "}
                            {noticias3.fecha_puli}
                        </p>
                    </div>
                </div>
            )
        }
    </div>
    <div class="text-center mt-4 mb-4">
        <h1 class="text-4xl font-bold text-gray-800 underline">
            Artistas más escuchados
        </h1>
    </div>
    <EstadisticasMusica
        client:load
        artistas={artistas_registrados}
        albumes={albumes}
        canciones={canciones}
    />
</Layout2>
