---
import ImgUsu from "./ImgUsu.jsx";

export interface Usuario {
    cod_usuario: number;
    nombre_usuario: string;
    nombre: string;
    apellidos: string;
    contraseña: string;
    correo_electronico: string;
    direccion_usu: string;
    telefono_usu: string;
    tipo_usu: boolean;
    img_usu: string;
    fecha_nacimiento: Date;
    fecha_registro: Date;
}

interface Props {
    usuario_accedido_info: Usuario;
}

const { usuario_accedido_info } = Astro.props as Props;
---

<div class="flex flex-col items-start mb-6">
    <div class="flex items-center space-x-4 mb-6">
        <ImgUsu
            client:load
            ruta={usuario_accedido_info.img_usu}
            alt="Imagen de perfil"
        />
        <div>
            <h1 class="text-2xl font-bold">
                {usuario_accedido_info.nombre_usuario}
            </h1>
            <p class="text-lg">
                {usuario_accedido_info.nombre}
                {usuario_accedido_info.apellidos}
            </p>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-6 w-full">
        <div>
            <p class="font-semibold">Correo electrónico:</p>
            <p>{usuario_accedido_info.correo_electronico}</p>
        </div>
        <div>
            <p class="font-semibold">Fecha de nacimiento:</p>
            <p>
                {
                    usuario_accedido_info.fecha_nacimiento.toLocaleDateString(
                        "es-ES",
                    )
                }
            </p>
        </div>
        <div>
            <p class="font-semibold">Dirección:</p>
            <p>{usuario_accedido_info.direccion_usu}</p>
        </div>
        <div>
            <p class="font-semibold">Teléfono:</p>
            <p>{usuario_accedido_info.telefono_usu}</p>
        </div>
    </div>
</div>
